@charset "UTF-8";
/* 
    cores: 

    #0A9FDB = azul mais claro
    #05435C = azul mais escuro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #0A9FDB, #05435C);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#campo-de-tarefas {
    width: 400px;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    color: white;
    margin-top: 30px;
}

form {
    position: relative;
}

input {
    color: #05435C;
    padding-left: 10px;
    height: 46px;
    width: 400px;
    border: 1px solid #05435C;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.308);
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #05435C;
    font-weight: 600;
    font-size: 1.2em;
}

#botao {
    position: absolute;
    font-size: 1.5em;
    height: 46px;
    width: 56px;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid #05435C;
    cursor: pointer;
}

#botao:hover {
    background-color: #05435C;
    color: white;
    transition: .5s;
}

ul {
    list-style: none;
    display: none;
}

li {
    height: 50px;
    position: relative;
    border-bottom: 3px solid #05435C;
    background-color: white;
    color: #05435C;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: .5s;
    font-weight: bold;
}

span {
    position: absolute;
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

#icon-done {
    right: 40px;
    top: 5px;
}

#icon-done:hover {
    color: white;
    background-color: #09E01B;

}

#icon-close {
    right: 0px;
    top: 5px;
}

#icon-close:hover {
    color: white;
    background-color: #EB0927;

}
